@CHARSET "UTF-8";
body{
	margin:0px;
	padding:0px;
	background: url("../res/back-header-contact.jpg") no-repeat;
	color: #fff;
	height: 700px;
}

.logo-img {
	margin-left:-60px;
	vertical-align: middle;
	width: 100px;
	height: 100px;
}

.navbar-toggle:focus {
  outline: 0;
}

.nav > li > a {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  line-height: 60px;
  font-family: "calibri", sans-serif;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
a:link, a:hover, a:focus, a:visited {
  text-decoration: none;
  color: #fff;
}

a {
  background: transparent;
}

p {
	padding: 40px 0 20px;
	font-size: 18px;
	width: 80%;
	line-height: 32px;
	font-family: "calibri", sans-serif;
	color:black;
}

.navbar {
  margin: 50px;
}

.navbar-toggle .icon-bar {
  background: #fff;
  height: 3px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.nav > li > a:hover, .nav > li > a:focus {
  background: none;
  color: #b3ff00;
}

h1, h2, h3, h4 {
	font-family: "calibri", sans-serif;
	font-weight: "700";
}

h2 {
	font-size: 60px;
	color: #32b847;
    margin-top: 75px;
    margin-bottom: 20px;
}

h1 {
	font-size: 120px;
	margin-bottom: 150px;
}

.checkbox{
	margin-left: 20px;
}

label{
	color:black;
}

.right{
	color: black;
	font-size: 12px;
	margin-left: 40px;
}

section.map-image{
  padding: 0;
  height: 700px;
  background: url(../../res/map.png) no-repeat center;
  
}

#contact-links{
	color:#32b847;
}

#signin-tab,#signup-tab ,#why-tab  {
  background: none;
  color: #000003;
}

@media ( min-width : 1200px) .container {
	width:1170px;
}

@media ( min-width : 992px) .container {
	width:970px;
}

@media ( min-width : 768px) .container {
	width:750px;
}

@media screen and ( max-width : 992px) {
	h1 {
		line-height: 55px;
		font-size: 80px;
		padding-top: 60px;
		margin-left: 15px;
	}
	.navbar-collapse {
		box-shadow: none;
	}
	
	.map-image{
	     padding: auto;
	}
}

@media screen and (max-width : 768px){
  .nav > li > a{
       border-bottom:1px solid #f1f4f7;
       line-height: 20px;
  }
  .logo-img{
    margin-left:-30px;
    width:65px;
    height:65px;
  }
  
  .navbar-toggle{
    margin-right: 5px;
  }
  
  .collapse navbar-collapse{
    border-left-width: -10px;
  }
  
  	.map-image{
	    padding: auto;
	}
}
