body {
    color:black;
}

h1 {
    text-align:center;
    color:green;
}

h3,h4 {
 color:green;
}

#link, #link:hover {
    color:blue;
    font-size:13px;
}

p,b{
    font-size:16px;
}
.right {
  font-size:10px;
  text-align:center;
}

#flow {
 width:800px;
 height:500px;
}
#login-img {
  width:300px;
  height:400px;
}

.home-img {
 width:900px;
 height:600px;
}


.inthea-img {
 width:1000px;
 height:600px;
}
