body {
}
p{
    float:left;
    width:200px;
}
@media screen and (max-width: 500px)
{
    body {
        background-color:red;
    }
}
@media screen and (min-width: 500px) and (max-width:700px)
{
    body {
        background-color:green;
    }
    .container {
       width:400px;
       margin:auto;
    } 
    .row-1,.row-2{
        width:400px;
        clear:both;
    }
    .col-6{
        width:200px;
        float:left;
    }
}
@media screen and (min-width: 700px)
{
    body {
        background-color:yellow;
    }
    .container {
       width:600px;
       margin:auto;
   }
    .row-1,.row-2{
        width:600px;
        clear:both;
    }
    .col-6{
        width:300px;
        float:left;
    }
}
code {
    background-color: lightgreen;
    font-family: monospace;
}
.p1{
    clear:both;
}
hr{
    clear:both;
}
